
//body{
//  background: #b92b27;  /* fallback for old browsers */
//  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
//  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//
//
//
//}

@-moz-document url-prefix() {
  //.ctrl-btn {
  //  display: none;
  //}

}


@font-face {
  font-family: Vazir;
  src: url('/font/vazir.eot');
  src: url('/font/vazir1.eot') format('embedded-opentype'),
  url('/font/vazir.woff') format('woff'),
  url('/font/vazir.ttf') format('truetype');
  font-weight: normal;
}

.fonting{
  font-family: Vazir, serif;

}

/////
.has-search .form-control {
  padding-right: 2.375rem;
  cursor: pointer;
  height: 43px;
  //width: 80%;
  background-color: #ededed;
  border-color: #f3f3f3;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.775rem;
  line-height: 2.775rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
////

.special-a{



  //@media screen and (max-width: 640px) {
  //  font-size: 80%;
  //
  //}
  //
  //@media screen and (max-width: 480px) {
  //  font-size: 70%;
  //}
  font-size: 90%;
  color: darkgray;
  &:hover{
    color: #838383;
  }
}

.special-btn{

  &:focus{
    outline: none;
  }

  @media screen and (max-width: 640px) {
    padding: 10px 4px;
    font-size: .757rem;
  }


  @media screen and (max-width: 480px) {
    padding: 10px 4px;
    font-size: .657rem;

  }

  font-family: Vazir, serif;
  font-size: .800rem;
  line-height: 1.733;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
  color: #616161;
  background-color: white;

  &:hover{
    box-shadow: 0 0 5px darkgrey;
  }



}





.tpanels{
  position: relative ;
  margin: 10px 0;
  margin-left: 5px;
  overflow: hidden;
  width: 100%;
  height: 295px;
  border: 0.85px solid #bcbcbc;
  transition: 0.3s;
  border-radius: 5px;
  &:hover{
    transition: 0.3s;
    transform: translateY(-0.5%);
    cursor: pointer;
    box-shadow: 0 0 10px darkgrey;
    .like{
      right: 0;
    }
    .commentss{
      right: 0;

    }
  }
}

.tpanels-main{
  text-align: center;
  position: relative ;
  margin: 5px 0;
  margin-left: 5px;
  overflow: hidden;
  width: 100%;
  height: 270px;
  border: 0.85px solid darkgrey;
  border-radius: 5px;
  transition: 0.3s;
  &:hover{
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 10px darkgrey;
    .like{
      right: 0;
    }
    .commentss{
      right: 0;

    }
  }
}


.coursel-res{
  height: 480px;

  @media screen and (max-width: 640px) {
    height: 290px;
  }


  @media screen and (max-width: 480px) {
    height: 250px;
  }

}

.vertical-main-pro{
  overflow-x: scroll;
  width: 100%;
  display: inline-block;
}

.sanad{
  color: white;
  &:hover{
    color: black;

  }
}
.tpanels-lin{
  position: relative;
  border-radius: 5px;
  border: 1px solid #adadad;
  margin: 25px 0;
  padding: 30px 10px;
}
button{
  padding: 60px;
  transition: 0.5s;
  &:hover{
    transition: 0.5s;

  }
}
.like{
  position: absolute;
  top: 10px;
  right: -40px;
  padding: 2px 10px;
  background-color: grey;
  border-bottom-left-radius: 14%;
  border-top-left-radius: 14%;
  transition: 0.5s;
  z-index: 1000;
  &:hover{
    background-color: limegreen;
    transition: 0.5s;
  }
}

.updata-ajax-pro{
  cursor: pointer;
}

.commentss{
  position: absolute;
  top: 40px;
  right: -40px;
  padding: 2px 10px;
  background-color: grey;
  border-bottom-left-radius: 14%;
  border-top-left-radius: 14%;
transition: 0.5s;
  &:hover{
    background-color: limegreen;
    transition: 0.5s;

  }

}
.likea{
  color: white;
}

.likeb{
  color: red;
}
#panel, #flip {
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  display: none;
}


#icons span:hover{
cursor: pointer;
}

#cart{
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  right: 1%;
  top: 40px;
  border-radius: 20px;
  cursor: pointer;
  overflow-y: scroll;
}

.a {
  cursor: pointer;
  i:hover{
    color: red;
  }

}

.cart_counts{
  padding: 1px 4px;
  background-color: red;
  color: white;
}

table{
  direction: rtl;
}


#message{
  width: 50%;
  height: 450px;
  background-color: rgba(0,0,0,0.6);
  position: absolute;//in too in kari ke mikhaiim bokonim lohem bood
  right: 25%;
  left: 25%;
  top: 10%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}

.chatzarbdar{
  position: absolute;
  right: 20px;
  top: 2px;
  color: crimson;
}

#end{
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 50px;
}
#intputMsg{
  position: absolute;
  left: 20px;
  width: 60%;
  height: 40px;
}
#sendMsg{
  position: absolute;
  right: 20px;

}

.chat_middel{
  position: absolute;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.right{
  position: absolute;
  right: 8px;
  //width: 30px;
  height: 30px;
  padding: 4px 20px;
  align-items: center;
  text-align: center;
  border-radius: 20%;
  background-color: crimson;
  color: white;
  display: inline-block;
}

.left{
  position: absolute;
  left: 5px;
  align-items: center;
  text-align: center;
  // width: 30px;
  height: 30px;
  padding: 4px 20px;
  background-color: darkblue;
  color: white;
  border-radius: 20%;
  display: inline-block;
}

.listschating{
  width: 95%;
  height: 70px;
  margin: 5px 2.5%;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid currentColor;
  &:hover{
    box-shadow: 0 0 20px chocolate;
  }
}

.commentss-line{
  border: 1px solid darkgrey;
  height: 200px;
}

.wwe{
  display: inline-block;
}
@media screen and (max-width: 1009px){

  .wwe {
    display: none;
  }
}

.h-titlee:hover{
  &::after{
    content: '';
    background: #989898;
    display: block;
    height: 1px;
    width: 110%;
    text-align: center;
   transition:all 10s;
  }
  transition:all 10s;
}

.titlee::after{
  content: '';
  background: #989898;
  display: block;
  height: 3px;
  width: 170px;
  margin: 13px auto 5px;
}

.featurepage::after{
  content: '';
  background: #ff163d;
  display: block;
  height: 3px;
  width: 120px;
  margin: 13px 0;
}

.featurepage1::after{
  content: '';
  background: #ff163d;
  display: block;
  height: 2px;
  width: 150px;
  margin: 13px 0;
}


.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
  color: #2E2E2E;
}


////////////////////////////////////////slide

.slider,.slider1,.slider2,.slider3 {

  width: 97%;
  height: 310px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;


  @media screen and (max-width: 640px) {
    height: 282px;
  }


  @media screen and (max-width: 480px) {
    height: 282px;
  }



}

.slider a , .slider1 a , .slider2 a, .slider3 a{

  color: black;
  text-decoration-line: none;
}

.slider a:hover,.slider1 a:hover,.slider2 a:hover,.slider3 a:hover{
  text-decoration-line: none;

  color: black;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider1::-webkit-scrollbar {
  display: none;
}

.slider2::-webkit-scrollbar {
  display: none;
}

.slider3::-webkit-scrollbar {
  display: none;
}


.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider1 .slide1 {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider2 .slide2 {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider3 .slide3 {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
}

.slider1 .item {
  margin-right: 10px;
}

.slider2 .item {
  margin-right: 10px;
}

.slider3 .item {
  margin-right: 10px;
}

.slider .item:last-child {
  margin-right: 0;
}

.slider1 .item:last-child {
  margin-right: 0;
}

.slider2 .item:last-child {
  margin-right: 0;
}

.slider3 .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}




.ctrl-btn {



  @media screen and (max-width: 640px) {
    display: none;
  }


  @media screen and (max-width: 480px) {
    display: none;
  }

  padding: 50px 10px;
  //min-width: 50px;
  background: rgba(184, 184, 184, 0.7);
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  position: absolute;
  top: 35%;
  margin-top: -27.5px;

  &:hover{
    background: rgba(184, 184, 184, 0.9);

  }
}


.ctrl-btn:focus{

  outline: none;

}

input:focus{
  outline: none;
}

button:focus{
  outline: none;
}

.ctrl-btn.pro-prev {
  left: 0px;
}

.ctrl-btn.pro-next {
  right: 0px;
}
.ctrl-btn.pro-prev1 {
  left: 0px;
}

.ctrl-btn.pro-next1 {
  right: 0px;
}

.ctrl-btn.pro-prev2 {
  left: 0px;
}

.ctrl-btn.pro-next2 {
  right: 0px;
}

.ctrl-btn.pro-prev3 {
  left: 0px;
}

.ctrl-btn.pro-next3 {
  right: 0px;
}

.mycart{
  margin: 6px 8px;
  transition: 0.3s;
  width: 18rem;
  border: 1px solid darkgreen;

  @media screen and (max-width: 640px) {
    width: 16rem;
  }


  @media screen and (max-width: 480px) {
    width: 16rem;
  }

}

.mycart:hover{
  transition: 0.3s;
  box-shadow: 0 0 10px darkgrey;
  transform: translateY(-.5%);
}

.mycart-bishtar{

  margin: 6px 8px;
  transition: 0.1s;
  height: 97%;
  &:hover{
    transition: 0.1s;
    box-shadow: 0 0 5px darkgrey;
  }

}


.btn{
  &:focus{
    outline: none;
  }
}

////////////////////////////////////////slide

.ctrl-btn1 {

  @media screen and (max-width: 640px) {
    display: none;
  }


  @media screen and (max-width: 480px) {
    display: none;
  }
  width:5%;
  padding: 2px 1px;
  background: rgba(184, 184, 184, 0.9);
  border: none;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 35%;


  &:hover{
    background: rgba(184, 184, 184, 0.9);

  }
}



.search-reults{
  background-color: #fff;
  position: absolute;
  right: 28px;
  top: 30%;
  font-size: 90%;
}

.row-search-result{
  position: relative;
  border-radius: 10px;
  width: 90%;
  background-color: #fff;
  height: 50px;

  &:hover{
    background-color: #f9f9f9;

    .search-reults{
      background-color: #f9f9f9;

    }
  }

}


.header-main{
  z-index: 1001;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 8px darkgray;
  background-color: white;
  height: 65px;


  @media screen and (max-width: 640px) {
    height: 95px;
  }


  @media screen and (max-width: 480px) {
    height: 95px;

  }

}

tr:nth-child(1){background-color: #f2f2f2}

.imgc{
  max-width: 60%;
  max-height: 100%;
  width: auto;
  height: auto;

  @media screen and (max-width: 640px) {
    max-width: 100%;
    max-height: 100%;
  }


  @media screen and (max-width: 480px) {
    max-width: 100%;
    max-height: 100%;

  }

}

.padding-0{
  padding: 7px 10px !important;

  @media screen and (max-width: 640px) {
    padding: 3px 5px !important;
  }


  @media screen and (max-width: 480px) {
    padding: 0 !important;
  }


}


/////////////////////////////////////////reponsive

.row_responsive {
  display: table;
  width: 100%;
  border-spacing: 0 0;
  border-collapse: separate;
}

[class^="cols-"], [class^="colx-"], [class^="colm-"] {
  padding: 5px 2.5px;
  display: table-cell;
}

/////////////////////////////////////////az in estefade nakon too project hay dige
.colx-fill { display: block; width: 100%; }
.colx-0 { display: none; }
.colx-1 { width: 12.5%; }
.colx-2 { width: 25%; }
.colx-3 { width: 37.5%; }
.colx-4 { width: 50%; }
.colx-5 { width: 62.5%; }
.colx-6 { width: 75%; }
.colx-7 { width: 87.5%; }
.colx-8 { width: 100%; }
/////////////////////////////////////////az in estefade nakon too project hay dige




@media screen and (min-width: 641px) {
  .colxx-fill { display: block;  width: 100%; }
  .colxx-0 { display: none; }
  .colxx-1 { width: 12.5%; }
  .colxx-2 { width: 25%; }
  .colxx-3 { width: 37.5%; }
  .colxx-4 { width: 50%; }
  .colxx-5 { width: 62.5%; }
  .colxx-6 { width: 75%; }
  .colxx-7 { width: 87.5%; }
  .colxx-8 { width: 100%; }
}


@media screen and (max-width: 640px) {
  .colm-fill { display: block;  width: 100%; }
  .colm-0 { display: none; }
  .colm-1 { width: 12.5%; }
  .colm-2 { width: 25%; }
  .colm-3 { width: 37.5%; }
  .colm-4 { width: 50%; }
  .colm-5 { width: 62.5%; }
  .colm-6 { width: 75%; }
  .colm-7 { width: 87.5%; }
  .colm-8 { width: 100%; }
}

@media screen and (max-width: 480px) {
  .cols-fill { display: block; width: 100%; }
  .cols-0 { display: none; }
  .cols-1 { width: 12.5%; }
  .cols-2 { width: 25%; }
  .cols-3 { width: 37.5%; }
  .cols-4 { width: 50%; }
  .cols-5 { width: 62.5%; }
  .cols-6 { width: 75%; }
  .cols-7 { width: 87.5%; }
  .cols-8 { width: 100%; }
}
/////////////////////////////////////////reponsive

.vs {
  border-bottom: 0.5px solid #bcbcbc;

}

.basket-count{
  color: white;
  background-color: red;
  padding: 1px 4px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 55%;
  position: absolute;
  right: 43.5%;
  //bottom: 9%;
  font-family: sans-serif;

  @media screen and (max-width: 700px) {
    right: 34%;
    top: 9%;
  }


  @media screen and (max-width: 480px) {
    right: 28%;
    top: 9%;
  }
}

.basket-count-two{
  color: white;
  background-color: red;
  padding: 2px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 50%;
  position: absolute;
  right: 43.5%;

  font-family: sans-serif;

  @media screen and (max-width: 700px) {
    right: 34%;
    top: 9%;
  }


  @media screen and (max-width: 480px) {
    right: 28%;
    top: 9%;
  }
}


.section-shadow{
  box-shadow: 0 0 4px lightslategrey;
  padding: 25px;
  border-radius: 8px;
  background: white;
}
.section-shadow-cart{
  box-shadow: 0 0 4px lightslategrey;
  padding: 30px 2px;
  border-radius: 8px;
  background: white;
}
.section-shadow-cart-pay{
  height: 100px;
  position: relative;
  box-shadow: 0 0 4px lightslategrey;
  padding: 20px 0px;
  border-radius: 8px;
  background: white;
}

.vl {
  border-right: 0.5px solid #bcbcbc;
  position: absolute;
  height: 100%;
  right: 50%;
}


.my-card{
  width: 100%;
  margin: auto auto;
}

.top-section{
  height: 310px;
  background: #fefefe;
  //position: relative;
}

#image-container{
  max-width: 360px;
  height: 240px;
  object-fit: scale-down;
 // height: auto;
  width: auto;

  @media screen and (max-width: 992px) {
    max-width: 320px;
    height: 220px;
  }
}

.my-nav{
  text-align: center;
}

.my-nav img{
  object-fit: scale-down;
  width: 80px;
  height: 50px;
  border: 1px solid #ddd;
  margin: 6px 0 6px 2px;
  cursor: pointer;
  transition: 0.3s;


  &:hover{
    border-color: #b4b4b4;
    transition: 0.3s;
  }
}

.scrollbar{
  scrollbar-width: none;
}

.cart_backset {
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-family: Vazir;
  padding: 20px;
  background-color: white;
  z-index: 1000;
  width: 340px;
  height: 418px;
  box-shadow: 0 0 10px #9a9a9a;
  border: 1px solid #aeaeae;
}

.cart_backset::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}
.cart_backset::-webkit-scrollbar-track {
  background: #dedede;        /* color of the tracking area */
}
.cart_backset::-webkit-scrollbar-thumb {
  background-color: #959595;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #dedede;  /* creates padding around scroll thumb */
}